[submodule "other-mallocs/jemalloc"]
	path = other-mallocs/jemalloc
	url = git@github.com:jemalloc/jemalloc.git
[submodule "other-mallocs/tbb"]
	path = other-mallocs/tbb
	url = git@github.com:kuszmaul/tbb.git
