*.aux
*.fdb_latexmk
*.fls
*.ipvrb
*.log
*.nav
*.out
*.snm
*.toc
*.vrb
*_pdftex.pdf
*_pdftex.tex
new-malloc-test-1K-*-aggregated.pdf
new-malloc-test-1K-*-aggregated.tex
ismm-june-2015-talk.pdf
*.fig.bak
